body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}
header h1 {
    margin: 0;
    font-size: 2em;
}
header p {
    font-size: 1.2em;
}
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.filter-section {
    text-align: center;
    margin-bottom: 30px;
}
.filter-section select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
}
.events-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.event-item {
    background-color: #e7f3ff;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.event-item img {
    max-width: 100%;
    border-radius: 5px;
}
.event-item h3 {
    color: #007bff;
    font-size: 1.2em;
}
.event-item p {
    font-size: 1em;
    margin: 10px 0;
}
.event-item .btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.event-item .btn:hover {
    background-color: #0056b3;
}
.popular-events, .upcoming-events, .testimonials {
    margin-top: 40px;
}
.event-slider {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.event-slider img {
    max-width: 300px;
    border-radius: 5px;
}
.testimonials div {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#contactButton {
    position: fixed; /* Rămâne fixat în colțul din dreapta jos */
    bottom: 20px; /* Distanța de la marginea de jos */
    right: 20px; /* Distanța de la marginea din dreapta */
    width: 35px; /* Dimensiunea butonului */
    height: 35px;
    background-color: #adadad; /* Albastru */
    border-radius: 50%; /* Rotunjirea completă pentru un buton circular */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Umbră pentru efect */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; /* Asigură-te că butonul este deasupra altor elemente */
}

#contactButton a {
    color: white; /* Culoarea iconului */
    font-size: 24px; /* Dimensiunea iconului */
    text-decoration: none; /* Elimină sublinierea */
}