/* Footer */
.footer {
  background-color: #e9e9e9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto; /* Centrează footer-ul */
  border-radius: 5px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Source Sans Pro', sans-serif;
}
  
  .footer-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1200px;
  }
  
  .footer-section {
    text-align: left;
    padding-left: 10px;
  }
  
  .footer-logo {
    text-align: left;
  }
  
  .footer-logo h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer-logo p {
    margin: 5px 0 0 0;
    font-size: 12px;
    color: #555;
  }
  
  .footer-section h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .footer-section p {
    margin: 0;
    font-size: 12px;
    color: #555;
    cursor: pointer;
  }
  
  .footer-section p:hover {
    text-decoration: underline;
  }
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    margin-top: -50px;
  }
  
  .footer-contact p {
    margin: 0;
    font-size: 14px;
  }
  
  .social-icons {
    display: flex;
    margin-bottom: -15px;
    gap: 10px;
    margin-top: 20px;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .social-icons img:hover {
    opacity: 0.7;
  }
  
  .logo-image {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .footer-copyright {
    font-size: 12px;
    color: #555;
    text-align: center;
    width: 100%;
    margin-top: 0px;
  }
  
  .main-content {
    flex: 1;
    padding-bottom: 80px;
  }
/* Responsive Design */
@media (max-width: 1200px) {
  .footer-content {
      grid-template-columns: repeat(4, 1fr); /* Reduce to 4 columns */
  }
}

@media (max-width: 900px) {
  .footer-content {
      grid-template-columns: repeat(3, 1fr); /* Reduce to 3 columns */
  }

  .footer-logo, .footer-contact {
      text-align: center; /* Center align logo and contact on smaller screens */
  }

  .social-icons {
      justify-content: center; /* Center social icons */
  }
}

@media (max-width: 600px) {
  .footer-content {
      grid-template-columns: repeat(2, 1fr); /* Reduce to 2 columns */
  }

  .footer-logo, .footer-contact {
      text-align: center; /* Center align logo and contact on very small screens */
  }

  .footer-section h3 {
      font-size: 12px; /* Smaller headings */
  }

  .footer-section p {
      font-size: 10px; /* Smaller text for footer links */
  }

  .social-icons {
      gap: 15px;
  }

  .logo-image {
      width: 120px; /* Smaller logo */
  }
}

@media (max-width: 400px) {
  .footer-content {
      grid-template-columns: 1fr; /* Stack all columns into one */
  }
  
 
