/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Evită derularea orizontală */
    padding-top: 120px; /* Adaugă un padding suficient pentru a lăsa spațiu sub header */
}
    main {
        padding: 20px;
        width: 95%; 
        max-width: 1550px; 
        margin: 40px 20px; 
        justify-content: center; 
        gap: 10px;
        background-color: #fff;
    }
   
   
   
  @import url('https://fonts.googleapis.com/css2?family=Freeman&family=Source+Sans+Pro:wght@400;700&display=swap');
   
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Freeman', sans-serif; /* Font pentru toate titlurile */
  }
   
  p {
    font-family: 'Source Sans Pro', sans-serif; /* Font pentru toate paragrafele */
  }


.between-sections-text {
    font-size: 35px;      /* Setează dimensiunea fontului */
    text-align: center;   /* Centrează textul */
    font-weight: bold;    /* Adaugă un aspect de tip "bold" (opțional, pentru a face textul mai vizibil) */
    padding-bottom: 20px;
    color: #2F584E;
    padding-top: 40px;
}

header {
    background: #EBEBEB; ;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    width: 90%; /* Se păstrează lățimea, dar */
    max-width: 1550px; /* Optional: limitează lățimea maximă */
    margin: 0 auto; /* Centrează containerul pe axa orizontală */
    justify-content: center; /* Centrează conținutul în cadrul containerului */
    border-radius: 16px;
    height: auto;
}

header h1 {
    color: #2F584E;
    margin-bottom: 50px;
    font-size: 2.8em;
    letter-spacing: 2px;
    font-weight: bold;
    opacity: 100% !important;
}

header p {
    font-size: 1.2em;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
    font-style: italic;
    opacity: 100% !important;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Secțiunea Intro */

.intro {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Reducem distanța dintre elemente */
    padding: 20px 20px; /* Reducem padding-ul */
    margin: 0 px; /* Reducem marginile laterale */
}


/* Left container (pentru text) */
.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%; /* Reducem lățimea */
    height: auto; /* Permite containerului să se ajusteze */
    padding-left: 60px;
}
/* Frame pentru text */
.frame {
    background-color: white;
    padding: 15px; /* Reducem padding-ul */
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frame h2 {
    font-size: 40px; /* Reducem dimensiunea titlului */
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}


.frame p {
    font-size: 20px; /* Reducem dimensiunea textului */
    color: #555;
    text-align: center;
}


/* Galerie de imagini */
.gallery {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    padding-right: 100px;
}

/* Container pentru imaginile orizontale plasate una sub alta */
.image-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Imagini orizontale */
.image-horizontal {
    width: 260px; /* Micșorăm dimensiunea imaginilor orizontale */
    height: 173px;
    object-fit: cover;
    border-radius: 16px;
}

/* Imagine verticală */
.image-vertical {
    width: 240px; /* Micșorăm dimensiunea imaginilor verticale */
    height: 360px;
    object-fit: cover;
    border-radius: 16px;
}

/* Container principal pentru secțiunea info-cards */
.info-cards-container {
    height: auto; /* Permitem să se ajusteze la conținut */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 95%; /* Se păstrează lățimea, dar */
    max-width: 1550px; /* Optional: limitează lățimea maximă */
    margin: 0 auto; /* Centrează containerul pe axa orizontală */
}

/* Info Cards Section */
.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 40px;
    background-color: #f5f5f5;
    width: 90%;
    flex-wrap: wrap;
    border-radius: 16px;
    height: auto;
    width: 95%; /* Se păstrează lățimea, dar */
    max-width: 1550px; /* Optional: limitează lățimea maximă */
    margin: 0 auto; /* Centrează containerul pe axa orizontală */
}
/* Stilizare card */

.card {
    position: relative;
    width: 280px; /* Reducem lățimea cardului */
    height: 350px; /* Reducem înălțimea cardului */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
    text-align: center;
    margin: 10px; /* Reducem marginea între carduri */
}

/* Fundal imagine pentru fiecare card */
.card img.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
   
}

/* Adăugăm un efect de hover pentru imaginile cardurilor */
.card:hover img.card-image {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Adăugăm și un efect de hover pentru card */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Dreptunghiul semi-transparent de pe imagine */
.overlay-rectangle {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    border-radius: 8px;
}

/* Conținutul cardului plasat pe dreptunghi */
.card-content {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
}

.card-content h3 {
    font-size: 35px; /* Micșorăm dimensiunea titlului */
    margin-bottom: 0.5rem;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}


/* Stilul pentru titluri */
.title-camine, .title-evenimente, .title-transport {
    font-size: 50px; /* Micșorăm dimensiunea titlurilor */
}

/* Stil pentru titlul "Camine" */
.title-camine {
    color: black;
}

/* Stil pentru titlul "Evenimente" */
.title-evenimente {
    color: black;
}

/* Stil pentru titlul "Transport" */
.title-transport {
    color: white;
}




/* Stilul general pentru butoanele cardurilor */
.card-content button {
    position: absolute;
    bottom: -90px;
    
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    background-color: #2F584E;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem; /* Micșorăm dimensiunea fontului butonului */
}

.card-content button:hover {
    background-color: #21443b;
}

/* Stil personalizat pentru butonul "Transport" */

.button-transport {
    background-color: #FF9861 !important; /* Culoare diferită pentru butonul din mijloc */
}

.button-transport:hover {
    background-color: #CC4628 !important; /* Culoare de hover pentru butonul "Transport" */
}


/* Forum Section */
.forum {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* Containerul alb pentru text, redimensionat */
.forum-frame {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
    width: 93%; /* Reducem lățimea */
    text-align: center;
    box-shadow: 0px;
}
.forum h2 {
    font-size: 35px; /* Dimensiune mai mică pentru titlu */
    margin-bottom: 1rem;
    font-family: "Freeman, Regular";
    padding: 20px;
}

.forum button {
    padding: 1rem 2rem; /* Crește spațiul intern pe verticală și orizontală */
    background-color: #2F584E;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem; /* Mărește dimensiunea fontului */
    margin-bottom: 20px;
    width: 400px; /* Adaugă o lățime fixă opțională */
    height: 200px; /* Adaugă o înălțime fixă opțională */
}


.forum button:hover {
    background-color: #21443b;
}

.welcome-box {
    position: absolute;
    top: 40%; /* Poziționează chenarul pe verticală în mijlocul imaginii */
    left: 50%; /* Poziționează chenarul pe orizontală în mijlocul imaginii */
    transform: translate(-50%, -50%); /* Centrează chenarul perfect pe imagine */
    background-color: rgba(47, 88, 78, 0.8); /* Adaugă un fundal semi-transparent */
    padding: 20px 40px; /* Adaugă margini interne pentru text */
    border-radius: 10px; /* Răsucirea colțurilor pentru un efect mai plăcut */
    text-align: center;
    color: white; /* Culoare albă pentru text */
    font-family: 'Freeman', sans-serif;
    font-size: 24px;
}

.welcome-box {
    width: 490px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    
}
.welcome-box h1 {
    color: white;
    font-size: 40px; ;
    text-align: center;
    margin: 0;
  }
 

    #contactButton {
        position: fixed; /* Rămâne fixat în colțul din dreapta jos */
        bottom: 20px; /* Distanța de la marginea de jos */
        right: 20px; /* Distanța de la marginea din dreapta */
        width: 35px; /* Dimensiunea butonului */
        height: 35px;
        background-color: #adadad; /* Albastru */
        border-radius: 50%; /* Rotunjirea completă pentru un buton circular */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Umbră pentru efect */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000; /* Asigură-te că butonul este deasupra altor elemente */
      }
      
      #contactButton a {
        color: white; /* Culoarea iconului */
        font-size: 24px; /* Dimensiunea iconului */
        text-decoration: none; /* Elimină sublinierea */
      }