
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Source+Sans+Pro:wght@400;700&display=swap');
/* News Section */
.news-section {
    padding: 40px; /* Elimină padding-ul de sus și jos */
    background-color: #f8f8f8; /* Fundal deschis */
    display: flex;
    justify-content: center; /* Centrează bannerul pe orizontală */
    align-items: center; /* Centrează bannerul pe verticală */
    min-height: auto; /* Elimină înălțimea minimă pentru a nu afecta alte secțiuni */
    margin: 0; /* Elimină marginile pentru a nu adăuga spațiu suplimentar */
    width: 100%;
  }
  
  /* Banner-ul de știri */
  .news-banner {
    display: flex;
    justify-content: center; /* Centrează conținutul bannerului */
    align-items: center; /* Centrează conținutul pe verticală */
    background-color: #ffffff; /* Fundal alb pentru banner */
    padding: 20px 30px; /* Dimensiuni reduse pentru padding */
    border-radius: 16px; /* Colțuri rotunjite */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Umbra ușoară pentru efect */
     /* Dimensiune mai mică, 80% din lățimea ecranului */
    max-width: 1300px; /* Lățimea maximă de 1000px */
    margin: 0; 
    height: 100%;/* Elimină orice margine */
  }
  
  /* Textul din banner */
  .text-content {
    padding-right: 60px;
  }
  
  .text-content h3 {
    font-size: 40px; /* Font mai mic */
    color: #333;
    margin-bottom: 10px;
    padding-right: 40px;
  }
  
  .text-content p {
    font-size: 16px; /* Font mai mic pentru paragrafe */
    color: #666;
    margin-bottom: 30px;
  }
  
  .text-content button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #e88a15;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  
  .text-content button:hover {
    background-color: #d67b12; /* Umbră mai închisă la hover */
  }
  
  /* Imaginea din banner */
  .image-content img {
    width: 200px; /* Lățimea imaginii mai mică */
    height: 200px; /* Înălțimea imaginii mai mică */
    object-fit: cover;
    border-radius: 16px; /* Colțuri rotunjite pentru imagine */
  }